.home {
  background-color: #f5f5f5;
  margin-bottom: 40px;
  &-carousel {
    height: 0px;
    padding-top: 48%;
    position: relative;
    &__inner {
      position: absolute !important;
      top: 0;
      left: 0;
      height: 100% !important;
    }
  }
  &-grid-category {
    padding: 5px;
    background-color: #fff;
    @include flex(row, center, center);
  }
  &-weekly-theme {
    margin-top: 10px;
    padding: 22px 0 14px 0;
    background-color: #fff;
    @include flex(row, center, center);
  }
  &-recommend-theme {
    margin-top: 10px;
    &__img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
